@charset "utf-8";
.container header {
    background-color: black;
}
.container header nav {
    background-color: #222020;
}
.container #hero {
    background-image: url(images/images
%20(1).jpg);
    background-image: url(images/b2.jpg);
}
.container #about {
    background-color: #F7E3F2;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(132,69,140,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(132,69,140,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(132,69,140,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(132,69,140,1.00) 100%);
}
.container .gallery {
    background-color: #91BCC5;
}
.container .banner {
    background-image: url(images/b3.jpg);
}
